<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://www.ros.org/wiki/xacro">
   
    <xacro:property name="M_PI" value="3.1415926535897931" />
    <xacro:property name="M_PI_2" value="1.57079632679" />

    <!-- Included URDF Files -->
    <xacro:include filename="$(find hector_quadrotor_description)/urdf/quadrotor_base.urdf.xacro" />
    
    <!-- Instantiate quadrotor_base_macro once (has no parameters atm) -->
    <xacro:quadrotor_base_macro />
    
    <!-- Hokuyo UTM-30LX mounted upside down below the quadrotor body -->
    <xacro:include filename="$(find hector_sensors_description)/urdf/vlp16.urdf.xacro" />
    <xacro:vlp16 name="laser0" parent="base_link" ros_topic="velodyne_points">
    	<!-- Sideways facing rotation -->
    	<!--<origin xyz="0.0 0.0 -0.097" rpy="${M_PI_2} 0 ${M_PI_2}"/>-->
    	<!-- Forward facing rotation -->
    	<origin xyz="0.0 0.0 -0.097" rpy="${M_PI_2} 0 0"/>
    </xacro:vlp16>
    
    <!-- Forward facing camera -->
    <xacro:include filename="$(find hector_sensors_description)/urdf/generic_camera.urdf.xacro" />
    <xacro:generic_camera name="front_cam" parent="base_link" ros_topic="camera/image" cam_info_topic="camera/camera_info" update_rate="10" res_x="320" res_y="240" image_format="R8G8B8" hfov="90">
      <origin xyz="0.05 0.0 -0.06" rpy="0 0.43 0"/>
    </xacro:generic_camera>

    <!-- Backward facing camera -->
    <xacro:include filename="$(find hector_sensors_description)/urdf/generic_camera.urdf.xacro" />
    <xacro:generic_camera name="bottom_cam" parent="base_link" ros_topic="camera/image" cam_info_topic="camera/camera_info" update_rate="10" res_x="512" res_y="512" image_format="R8G8B8" hfov="90">
      <origin xyz="0 0.0 -0.09" rpy="0 ${M_PI_2} 0"/>
    </xacro:generic_camera>

    <!-- Asus Xiton Live Pro -->
    <xacro:include filename="$(find hector_sensors_description)/urdf/asus_camera.urdf.xacro" />
    <xacro:asus_camera name="camera" parent="base_link">
      <origin xyz="0.1 0.0 -0.03" rpy="0 0 0"/>
    </xacro:asus_camera>
    
</robot>
  
